@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');

* {
    margin: 0px;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --main-bg-color: white;
    --secondary-bg-color: #FF7F99;
    --button-bg-color: #ffca41;
    --button-hoover-color: #FBE7B4;
    --main-text-color: black;
    --title-text-color: #FF7F99;
    --secondary-text-color: white;
}


/* Encabezado */

header {
    height: 35%;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1% 3%;
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    width: 30%;

}



.nav_button {
    border: transparent;
    background: transparent;
    color: var(--secondary-text-color);
    font-size: 20px;
    /*border-radius: 16px;*/
}

.nav_button:hover {
    color: var(--button-hoover-color)
}

/* Sección principal landing page */


main {
    height: 70vh;
}

.flex-container {
    /*border: black 1px solid;*/
    display: flex;
    margin: 0 auto;
    align-content: baseline;
    justify-items: space-between;
    width: 65%;
    height: 100%;
    gap: 9%;
    padding: 2%;

}



.imagen_principal {
    margin-top: 5%;
    background: var(--secondary-bg-color);
    width: 250px;
    height: 250px;
    border-radius: 50% 0% 50% 50%;
}

.imagen_principal img {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-radius: 90%;
    margin-left: 15px;
    margin-top: 12px;
}

.texto {
    width: 45%;
}

.titulo {
    margin-top: 70px;
    font-size: 65px;
    color: var(--secondary-bg-color);
    line-height: .8;
}

.subtitulo {
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
}

.main_button {
    border-radius: 40px;
    border-style: none;
    background: var(--button-bg-color);
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: 700;
    padding: 8px 20px;
    position: absolute;
    margin-top: 23px;
}

.main_button:hover {
    background-color: var(--button-hoover-color);
}

/* Sección principal página desarrolladores */

.texto_coder {
    width: 453px;
    position: relative;
}

.descripcion {
    text-align: justify;
}

.linkedin-coder {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-right: 15px;
}

.main_button2 {
    border-radius: 30px;
    border-color: var(--secondary-text-color);
    background: var(--button-bg-color);
    color: var(--secondary-text-color);
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    padding: 3px 50px 15px 50px;
    margin-top: 25px;
}

/* Pie de página */

footer {
    padding: 2%;
    display: flex;
    background: var(--secondary-bg-color);
    /*grid-template-columns: repeat(5, 20%);*/
    justify-content: space-around;
}

.coder {
    display:grid;
    /* Centra horizontalmente los elementos dentro del grid */
    align-content: center; /* Centra verticalmente el contenido del grid */
    color: var(--secondary-text-color);
    
}

.coder a {
    font-size: 20px;
    text-align: center;
}

.coder p {
    font-size: 12px;
    color: var(--main-text-color);
    text-align: center;
}

 .img_coder {
    
    align-items: center;
    justify-items: center;
    width: 50%;
    height: 50%;
    border-radius: 50%;

   
}  

.integrantes {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 90%;
    

}




.linkedin {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

@media (max-width: 750px) {

    header {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-bottom: 1px;
        height: 200px;
        justify-content: center;
    }

    nav {
        flex-direction: column;
        display: flex;
    }

    .logo img {
        margin: auto;
        padding: auto;
    }


    main {
        display: flex;
        flex-direction: column-reverse;
    }


    .texto {
        width: 100%;
        text-align: center;
    }

    .titulo {
        margin-top: 15px;
        font-size: 55px;
        color: var(--secondary-bg-color);
        line-height: .8;
    }

    .subtitulo {
        font-size: 20px;
        font-weight: 400;
        margin-top: 12px;
    }

    .main_button {
        border-radius: 40px;
        border-style: none;
        background: var(--button-bg-color);
        color: var(--secondary-text-color);
        font-size: 20px;
        font-weight: 700;
        padding: 20px 35px;
        position: relative;
        margin-top: 23px;

    }



    .imagen_principal {
        width: 95%;
        height: 370px;
        margin: 70px 8px;
    }

    .imagen_principal img {
        margin-top: 7px;
        margin-left: 10px;
    }

    footer {
        display: grid;
        grid-template-columns: 100%;
    }


}